:root {
  --base: rgb(24, 24, 131);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--base);
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

input {
  border-radius: 5px;
  border: 1px solid var(--base);
}

#search-btn {
  background-color: rgb(116, 116, 245);
  color: white;
}

#search-box {
  width: 200px;
  padding: 5px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.search * {
  margin-top: 20px;
}

.line {
  background-color: black;
  height: 2px;
}

.display {
  margin: 20px 20px 0 100px;
}

.today {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  background-color: rgb(237 240 245);
}

.today * {
  margin-top: 10px;
}

.current-city {
  color: var(--base);
}

.five-day {
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards * {
  margin-top: 20px;
}

.day {
  margin-right: 40px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.day * {
  margin: 10px;
}

.day h4 {
  margin: 0 0 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  margin-top: 0px;
  background-color: rgb(24, 24, 131);
  color: white;
}

.forecast-header {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
